<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Bluetooth permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Location permissions required for Bluetooth scanning -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Storage permissions for sharing results -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AISoilTester"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AISoilTester.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home Screen Activity -->
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />

        <!-- Bluetooth Connection Activity -->
        <activity
            android:name=".ui.bluetooth.BluetoothConnectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.home.HomeActivity" />

        <!-- Live Test Activity -->
        <activity
            android:name=".ui.livetest.LiveTestActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.home.HomeActivity" />

        <!-- Results Activity -->
        <activity
            android:name=".ui.results.ResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.livetest.LiveTestActivity" />

        <!-- Support Activity -->
        <activity
            android:name=".ui.support.SupportActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.home.HomeActivity" />

    </application>

</manifest>